<% extends "layout.html" %>
    <% block body %>
        %% super() %%
        <% block header %>
            <% include 'header.html' %>
            <div class="container" style="margin-top: 60px;">
                <div class="row">
                    <% block container %>
                        <div class="col-md-12">
                            <h2>TOSCA files</h2>
                            <p>Available TOSCA files</p>
                                <div ui-view="main_content">
                                </div>
                        </div>
                    <% endblock %>
                </div>
                <hr>
                <footer>
                    <p>&copy; CloudOpting 2015</p>
                </footer>
            </div>
        <% endblock %>
    <% endblock %>
    <% block jquery_init %>
        
    <% endblock %>
