<div class="row">
    <div ng-repeat='field in fields'>
        <div class="col-md-4 col-xs-12">
            <div class="panel-group" id="accordion{{$index}}" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEl{{$index}}">
                        <strong>
                            {{field.title}}
                        </strong>
                        <a class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-parent="#accordion{{$index}}" href="#collapseEl{{$index}}" aria-expanded="true" aria-controls="collapseEl{{$index}}" role="button">Toggle</a>
                    </div>
                    <div id="collapseEl{{$index}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingEl{{$index}}">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter a title" value="{{field.title}}">
                            </div>
                            <div class="form-group">
                                <label>Command</label>
                                <input type="text" class="form-control" placeholder="Enter a command">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success btn-block">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>