{% extends "layout.html" %}
    {% block body %}
        {{ super() }}
        {% block header %}
            {% include 'header.html' %}
            <div class="container" style="margin-top: 60px;">
                <div class="row">
                    {% block container %}
                        <div class="col-md-6">
                            <h2>Discover masters</h2>
                            <p>Puppet master list</p>
                            <p><a class="btn btn-default" href="#" role="button">Discover</a></p>
                            <ul class="list-group">
                                <li class="list-group-item">Master 1</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h2>Discover clients</h2>
                            <p>Puppet master list</p>
                            <p><a class="btn btn-default" href="#" role="button">Discover</a></p>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Client 1
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>Hostname</strong>
                                                    <a class="btn btn-primary pull-right btn-xs" href="#" role="button">Send command</a>
                                                </div>
                                                <div class="panel-body">
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>Kernel version</strong>
                                                    <a class="btn btn-primary pull-right btn-xs" href="#" role="button">Send command</a>
                                                </div>
                                                <div class="panel-body">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
                <hr>
                <footer>
                    <p>&copy; CloudOpting 2015</p>
                </footer>
            </div>
        {% endblock %}
    {% endblock %}
